body{
    overflow-y: scroll;
}

body::-webkit-scrollbar{
    display: none;
}

.container{
    letter-spacing: 2px;
}

#home-left{
    align-content: center;
}

#home-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 800px){
    #home-main{
        display: flex;
        flex-direction: column;
    }
    #home-left{
        width: 100%;
        height: 50%;
        padding-top: 25px;
    }
    #home-left h2{
        font-size: 22px;
    }
    #home-right{
        height: 60%;
        width: 100%;
    }
}